/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Fonts */
html {
  font-family: "inter", sans-serif;
  font-size: 1.2em;
}

:root {
  --color-primary1: white;
  --color-primary2: black;
  --color-secondary1: #150f2f;
  --color-secondary2: #222;
  --color-accent1: #dfbfd2;
  --color-accent2: #f2e2ec;
}

h1,
h2,
h3 {
  color: #111;
  font-family: "bebas-neue", serif;
  margin-bottom: 1rem;
}

h1 {
  color: #eee;
  font-size: 4.25rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  color: var(--color-secondary2);
}

h3 {
  font-family: "inter", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: #222;
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-secondary2);
}

a:hover {
  text-decoration: underline;
}

/*************** BURGER ************/
li {
  /* dette gør at liste elementerne ikke får prikkerne */
  list-style: none;
}

/* er vores container til navigationsmenu*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Dette gør at der er et bestemt tidsinterval før animationen sker */
.nav-link-button {
  transition: 0.7s ease;
}

/* Dette er en container hvor vores "bar" ligger i*/
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  z-index: 2;
}

/*Dette er vores hamburger menu ikon(de 3 streger) */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* UI Elements */
button {
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  background-color: #222;
  color: #eee;
  font-family: "inter", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.dark_button {
  background-color: var(--color-primary2);
  color: rgb(153, 153, 153);
  width: 13rem;
  place-self: end;
}

.light_button {
  background-color: var(--color-accent1);
  color: white;
  width: 10rem;
  margin: 1rem;
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: #eee;
  border-color: #ddd;
  color: #222;
}

/* Menu */

.nav-menu {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary1);
  padding-inline: 2rem;
}

nav a {
  color: var(--color-accent2);
  text-decoration: none;
  font-family: "inter", sans-serif;
  text-transform: uppercase;
}

nav a.logo {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "inter", sans-serif;
  text-transform: uppercase;
}

nav a.logo:hover {
  text-decoration: none;
}

nav li {
  display: inline-block;
}

/********************* PORTFOLIO SITE *********************/

/* Header */
#header_portfolio {
  display: flex;
  max-height: 180vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-secondary1);
}

header p {
  color: var(--color-accent2);
}

#header_portfolio button {
  margin-bottom: 3rem;
  background-color: var(--color-accent1);
  color: var(--color-secondary1);
  padding-bottom: 2.5rem;
  padding: 0px;
  width: 9rem;
}

.portfolio_text {
  width: 30vw;
  min-width: 300px;
  color: var(--color-primary1);
  display: grid;
}

.header_graphics {
  width: 25vw;
  height: 25vw;
  min-width: 400px;
  min-height: 400px;
  background-color: #181616;
  border-radius: 30%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.header_graphics object {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header_graphics object svg path {
  fill: #f00;
}

/* product section */
.product {
  padding: 5rem 3rem;
  background-color: var(--color-primary1);
}

.product h2 {
  font-size: 3.052rem;
  line-height: 3.5rem;
}

.product article {
  display: flex;
  min-height: 50vh;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}

.product article:first-child {
  min-height: 40vh;
}

.product_text {
  width: 50vw;
  min-width: 300px;
  padding-inline: 2rem;
}

.product article:first-child .product_text {
  width: 75vw;
  min-width: 300px;
}

.product_graphics {
  width: 35vw;
  height: 30vw;
  min-width: 250px;
  min-height: 250px;
  padding: 1rem;
  background-color: var(--color-accent2);
  border-radius: 300px;
}
.product_graphics object {
  width: 100%;
  height: 100%;
}

#styletile {
  max-width: 80vw;
  padding: 1rem;
  background-color: var(--color-accent2);
  min-width: 40vw;
}

#opposite_img {
  order: -1;
}

/* Product section 2 */
#NBU_redesign {
  background-color: var(--color-accent1);
}

#NBU_redesign a {
  color: white;
}

/* Highlight section */

.desc {
  font-style: italic;
  font-size: small;
  padding-left: 1rem;
}

.highlight {
  display: grid;
  min-height: 80vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-accent2);
  padding: 5rem;
}

.highlight div h2 {
  font-size: 3.025rem;
  line-height: normal;
}

.dark {
  background-color: #222;
}

.dark h2 {
  color: #eee;
}

.dark a {
  color: #ccc;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 2rem;
}

.text {
  max-width: 50ch;
}

.img_highlight {
  object-fit: cover;
  aspect-ratio: 2/1;
  max-width: 600px;
  min-width: 300px;
}

.img {
  margin-bottom: 0px;
}

.img p {
  padding: 0px;
}

/* Highlight section 2 */
#highlight_2 {
  background-color: var(--color-secondary1);
}

#highlight_2 p {
  color: var(--color-accent2);
}

#highlight_2 h2 {
  color: white;
}
#highlight_2 h3 {
  color: white;
}

.bold {
  font-weight: 600;
  font-size: larger;
  font-style: italic;
}
.italic {
  font-weight: 400;
  font-style: italic;
}

/* summary section */
#summary {
  display: flex;
  min-height: 50vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-secondary2);
}

#summary div {
  width: 50vw;
  min-width: 300px;
}

#summary h2 {
  color: white;
}
#summary p {
  color: white;
}
#summary h3 {
  color: white;
  min-width: 75vw;
}

/************** CV SITE *************/
#CV {
  padding: 5rem;
  margin-bottom: 2rem;
  max-width: 60vw;
  height: auto;
}

#header_CV {
  background-color: var(--color-secondary2);
  padding: 2rem;
  padding: 5rem;
  color: #eee;
}

#header_CV img {
  max-height: 45vh;
}
.make_light {
  color: var(--color-accent2);
  margin: 0px;
  place-content: end;
  display: grid;
}

.icon_article h3 {
  display: grid;
  place-content: end;
  margin: 0px;
  padding: 0px;
}

.flex_col {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.grid_col {
  max-width: 60vw;
}

#info {
  line-height: 2rem;
  place-content: start;
}

/* ICON SECTION */

#info p {
  text-align: left;
}

svg {
  margin: 0px;
}

.icon_and_text {
  display: flex;
  margin-bottom: 1rem;
  max-width: 60vw;
}

.icon_and_text h1 {
  font-size: 1.3rem;
  padding: 0px;
  padding-left: 5%;
}

.underline {
  border-bottom: 2px solid var(--color-accent2);
}

.underline_white {
  border-bottom: 2px solid var(--color-accent1);
}

/* SKILLS  */
#skill_container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 2rem;
}

#skills_text {
  font-family: "bebas-neue", sans-serif;
  font-size: 2rem;
  margin: 0%;
}

#skills_text li {
  line-height: 30px;
  padding-block: 5%;
}

.skills {
  padding: 0px;
}

#skill_level {
  width: 100px;
  height: auto;
}

/* SKILL BAR DOTS */
.dot-container {
  display: flex;
  align-items: flex-start;
}

.dot {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}

.pink {
  background-color: var(--color-accent1);
  border: none;
}

.space {
  padding-block: 10px;
}
#all_the_dots {
  margin: 0px;
  padding: 0px;
  margin-right: 2rem;
}

.dot_article {
  padding-block: 5%;
  align-self: flex-start;
}

.grid_col_skills {
  max-width: 40vw;
  display: grid;
  padding-inline: 4rem;
}

.skills {
  padding: 5rem;
}

/* EDUCATION  */
#education {
  padding: 5rem;
  background-color: var(--color-accent1);
  color: white;
}

/****************** CREATIVE SITE **************/
#header_creative {
  padding: 5rem;
  background-color: var(--color-secondary1);
  color: white;
  background-image: url(graphics/kreativt_baggrund.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 50vh;
  text-align: center;
  display: grid;
  place-content: center;
  min-height: 80vh;
}

#header_creative p {
  color: white;
  text-shadow: 2px 2px 10px #000;
}
.header_text_creative {
  max-width: 60vw;
  text-align: center;
  place-self: center;
}

#game {
  padding: 6rem;
  background-color: var(--color-accent1);
  min-width: 80vw;
  min-height: 50vh;
}

#hb_container img {
  aspect-ratio: 1/1;
}

.hb_img {
  object-fit: fill;
}

#HB {
  display: grid;
  place-content: start;
  min-height: 60vh;
  gap: 1rem;
  background-color: var(--color-primary1);
}

#drawings_container img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 26/23;
  object-fit: cover;
}
#drawings_container p {
  max-width: 60vw;
}

#creative_projects {
  background-color: var(--color-secondary1);
  max-width: 100vw;
  padding: 5rem;
}

main #creative_projects h2 {
  color: white;
}

/* Footer */

.flex {
  text-align: center;
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #ffffff;
  margin: 0px;
  background-color: var(--color-secondary1);
}
footer {
  background-color: var(--color-secondary1);
  color: var(--color-accent2);
}

footer h3 {
  padding-block: 0.5rem;
  color: var(--color-accent2);
}

.footer_div {
  text-align: left;
  place-self: start;
}

.footer_div p {
  text-align: left;
  font-style: normal;
}

footer p {
  padding: 0px;
  margin: 0px;
  text-align: left;
  color: var(--color-accent2);
}

#school {
  font-weight: bold;
  font-style: italic;
}

#copyright p {
  text-align: center;
  padding: 1rem;
  font-size: smaller;
  font-style: italic;
}

#copyright {
  background-color: var(--color-secondary1);
}

.svg_linkedIn img {
  max-width: 4rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0px;
  }

  html {
    font-size: 0.9em;
  }

  nav a {
    font-size: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 1.35rem;
  }

  /**************** BURGER MOBIL **********/
  .toggle_container {
    padding-right: 2rem;
  }

  .hamburger {
    display: block;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    opacity: 0;
  }

  /* Dette gør at hamburger menuen skifter fra 3 sterger til et kryds når menuen er synlig*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* knappen der trykkes på for at toggle frme of tilbage mellem hamburger og kryds*/
  .toggle-btn {
    margin: 16px 0;
  }

  .nav-menu.active {
    transform: translateY(0);
    opacity: 1;
    display: flex;
    justify-content: end;
    flex-direction: column;
    background-color: #dcb3cc;
    left: 68%;
    top: 0%;
    text-align: left;
    gap: 1rem;
    z-index: 1;
    min-height: 25vh;
    padding-block: 3rem;
  }
  .nav-menu.active li a {
    color: white;
    z-index: 2;
    margin: 0px;
    padding: 0px;
  }

  /* PORTFOLIO */

  /* product section */
  .product h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  #styletile {
    order: 1;
    min-width: 250px;
    min-height: 150px;
    padding: 1rem;
    background-color: var(--color-accent2);
    margin: 0;
  }

  .product {
    display: grid;
    padding: 0px;
  }
  .product article {
    display: grid;
    align-items: start;
  }
  .product .product_text {
    padding: 2rem;
  }

  .product_graphics {
    order: 1;
  }

  #opposite_img {
    display: grid;
    order: 1;
  }

  /* highlight section */
  .highlight div h2 {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }

  .highlight {
    padding: 1.5rem;
  }

  .img_highlight {
    object-fit: cover;
    aspect-ratio: 2/1;
    max-width: 400px;
  }

  .container {
    display: grid;
    gap: 1rem;
    padding-block: 2rem;
  }

  /* summary section*/
  #summary h2 {
    font-size: 2.4rem;
  }

  #summary {
    display: grid;
  }

  /************** CV SITE *************/
  #all_the_dots {
    padding-right: 2rem;
  }
  #header_CV {
    display: grid;
    min-height: 120vh;
    padding: 2rem;
    padding-bottom: 4rem;
  }

  #CV {
    max-width: 90vw;
    padding: 0px;
    margin-bottom: 0px;
    padding-top: 2rem;
    padding-inline: 2rem;
  }

  .grid_col {
    max-width: 80vw;
    padding: 2rem;
    padding-top: 0px;
  }

  .flex_col {
    display: grid;
    gap: 0px;
  }

  figure {
    margin: 0px;
  }

  #icon_article {
    padding-bottom: 5rem;
  }

  #header_CV img {
    max-width: 60vw;
    aspect-ratio: 3/4;
  }

  figure #pb_cv {
    display: grid;
  }

  #pb_cv {
    max-width: 60vw;
    max-height: 60vh;
    place-self: center;
  }

  #skill_container {
    padding: 0px;
    margin: 0px;
    max-width: 70vw;
  }
  #skills_text {
    font-family: "bebas-neue", sans-serif;
    font-size: 25px;
    margin: 0%;
  }

  #education {
    padding: 2rem;
  }

  /* main section*/
  .icon_and_text {
    max-width: 70vw;
  }

  .skills {
    padding: 1rem;
  }
  .dot {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  #info {
    line-height: 1.6rem;
  }

  /****************** CREATIVE SITE **************/

  #game {
    padding: 2rem;
    min-width: 80vw;
    min-height: 60vh;
  }

  #header_creative {
    padding: 2rem;
    background-size: cover;
    background-attachment: local;
    text-align: center;
    display: grid;
    place-content: center;
  }

  #creative_projects {
    padding: 2rem;
    grid-row: 1;
    display: grid;
  }

  #creative_projects img {
    width: 70vw;
  }

  #drawings_container {
    padding: 3rem;
  }

  /* FOOTER */

  .flex {
    margin: 0px;
    display: grid;
  }

  footer {
    background-color: var(--color-secondary1);
  }

  .footer_div {
    padding-block: 1rem;
    text-align: left;
    display: grid;
    place-content: center;
  }

  .footerp {
    padding-block: 10px;
    font-style: italic;
    text-align: center;
    font-size: 0.9rem;
  }

  footer h3 {
    padding-block: 0.5rem;
  }

  footer .svg_linkedIn {
    display: grid;
    text-align: left;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
  }

  .footerp {
    padding-block: 10px;
    font-style: italic;
  }

  .contact_text {
    font-style: normal;
  }

  .svg_linkedIn img {
    max-width: 3rem;
  }
}

@media screen and (min-width: 800px) {
  /*creative site*/
  #drawings_container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #hb_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1250px) {
  /*hightlight section*/
  #opposite_img {
    display: grid;
    order: -1;
  }

  .container {
    gap: 3rem;
  }
}

/* DARK THEME */
html[data-theme="dark"] {
  --color-primary1: #757575;
  --color-primary2: #2c2c2c;
  --color-accent2: #caa8c3;
  --color-secondary1: #495c44ae;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 27px;
  background: rgb(255, 255, 255);
  float: right;
  border-radius: 20px;
  position: relative;
}

label:after {
  /* styling for labels - on toggle */
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--color-secondary2);
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  /* conditional check while toggling */
  background: var(--color-secondary2);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: rgb(255, 255, 255);
}

label:active:after {
  width: 45px;
}

/* SMILEY ANIMATION */

.stroke_animation {
  stroke-width: 10px;
  stroke: white;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  stroke-dasharray: 10 5;
  animation-name: stroke-animation;
  animation-timing-function: linear;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 20;
  }
}
